* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.text-blue{
  color: #1755A6 !important;
  text-decoration: none;
}

.home,
.ourTeam,
.gallery,
.sign-up,
.about-us,
.resources,
.club-details {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.ourTeam {
  /*background-image: url('/images/img-2.jpg');
  background-position: center;*/
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.resources {
  /*background-image: url('/images/img-2.jpg');
  background-position: center;*/
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.gallery {
 /* background-image: url('./images/img-1.jpg');
  background-position: center;
  */
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /*background-image: url('/images/img-8.jpg');
  background-position: center;*/
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about-us {
  /*background-image: url('/images/img-8.jpg');
  background-position: center;*/
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.club-details {
  /*background-image: url('/images/img-8.jpg');
  background-position: center;*/
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(218, 209, 209);
  font-size: 100px;
}